body{
    background-color: royalblue;
    text-align: center;
    color:white;
}


.title{
    color:rgb(39, 28, 196);
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 5px 5px rgb(243, 237, 237);
    
}
.btn{
    margin-top: 20px;
}